*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}
.sign{
    margin: 0 auto;
    text-align: center;
    margin-top: 150px;
    padding-top: 100px;
    width: 350px;
    padding-bottom: 100px;
    background-color: greenyellow;
}
input{
    padding: 10px;
    font-size: 20px;
    border: 2px solid red;
    border-radius: 20px;
}